@model Mission.WebUI.ViewModels.vm_PostSubscriber
<h2>
    Nyhetsbrev</h2>
<p>
    Premunemera gärna på mitt nyhetsbrev för nya fräscha nyheter</p>
    @using (Html.BeginForm("index", "Home", "post"))
    {
<fieldset>
    
    <div>
        <span style="color:Red;">@Html.ValidationMessageFor(s => s.Subscriber.Name)</span>
        @Html.EditorFor(s => s.Subscriber.Name, new { id = "name", type = "text", @class = "form-poshytip", title = "Enter your full name" })
        <label>Namn</label>
    </div>
    <div>
        <span style="color:Red;">@Html.ValidationMessageFor(s => s.Subscriber.Email)</span>
        @Html.EditorFor(s => s.Subscriber.Email, new { id = "email", type = "text", @class = "form-poshytip", title = "Enter your email address" })
        <label>Email</label>
    </div>
    <div>
        @Html.EditorFor(s => s.Subscriber.City, new { id = "web", type = "text", @class = "form-poshytip" })
        <label>
            Stad</label>
    </div>
    <div>
        <input type="submit" class="submit-style" value="Prenumerera" />
        <a class="subscribe-link">Avregistrera</a>
    </div>
    <div id="error" class="warning"></div>
</fieldset>
    }
