@using Mission.Domain.Entities
@model AboutJesper

@{
    ViewBag.Title = "CreatePost";
}

    <link href="@Url.Content("~/Content/Kendo/styles/kendo.common.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Kendo/styles/kendo.default.min.css")" rel="stylesheet">

    <script src="@Url.Content("~/Content/Kendo/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Kendo/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Content/Kendo/examples/content/shared/js/console.js")"></script>   
    <script src="@Url.Content("~/Content/js/resizeable.js")"></script>



<div id="posts-list">

<h2 class="page-heading"><span>ÄNDRA JESPER CARON</span></h2>

@using (Html.BeginForm()){

    
    <div>


         @Html.TextAreaFor(p => p.Content, new { id = "editor", rows="10", cols="30", style="width:100%", height = "100%"})
  

    <script>
        $("#editor").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "formatBlock",
                "createLink",
                "unlink",
                "insertImage",
                "subscript",
                "superscript"
            ]
        });

    </script>
    </div>
    <div>
        <input type="submit" value ="Spara"/>
    </div>


}</div></div>