@using Mission.Domain.Entities
@using Mission.WebUI.ViewModels
@model vm_PostSubscriber 
   
<script src = "@Url.Content("~/Content/js/excerpt.js")"></script>       

<div id="slider-holder" class="clearfix">
    <!-- slider -->
    <div class="flexslider home-slider">
        <ul class="slides">
            <li>
                <img src="@Url.Content("~/Content/img/slides/01.png")" alt="alt text" />
                <p class="flex-caption">
                    "Jag är en quote"</p>
            </li>
            <li>
                <img src="@Url.Content("~/Content/img/slides/02.png")" alt="alt text" />
                @*<p class="flex-caption">"Jag är en annan quote"</p>*@ </li>
        </ul>
    </div>
    <!-- ENDS slider -->
    <div class="home-slider-clearfix ">
    </div>
</div>
<!-- ENDS headline -->

    <div class="home-block">
        <h2 class="home-block-heading">
            <span>KUNDER</span></h2>
        <figure>
            <figcaption>
                <strong>Pellentesque habitant morbi</strong> <span>Pellentesque habitant morbi tristique
                    senegestas. Vestibulum tortor quam</span> <em>December 08, 2011</em>
            </figcaption>
            <a href="#" class="thumb">
                <img src="@Url.Content("~/Content/img/kunder/02.png")" alt="Alt text" /></a>
        </figure>
        <figure>
            <figcaption>
                <strong>Pellentesque habitant morbi</strong> <span>Pellentesque habitant morbi tristique
                    senegestas. Vestibulum tortor quam</span> <em>December 08, 2011</em>
            </figcaption>
            <a href="#" class="thumb">
                <img src="@Url.Content("~/Content/img/kunder/02.png")" alt="Alt text" /></a>
        </figure>
        <figure class="last">
            <figcaption>
                <strong>Pellentesque habitant morbi</strong> <span>Pellentesque habitant morbi tristique
                    senectturpis egestas. Vestibulum tortor quam</span> <em>December 08, 2011</em>
            </figcaption>
            <a href="#" class="thumb">
                <img src="@Url.Content("~/Content/img/kunder/04.png")" alt="Alt text" /></a>
        </figure>
        <div class="one-third-thumbs clearfix">
            <figure>
                <figcaption>
                    <strong>Pellentesque habitant</strong> <span>Pellentesque habitant morbi tristique estibulum
                        tortor quam</span> <em>December 08, 2011</em>
                </figcaption>
                <a href="#" class="thumb">
                    <img src="@Url.Content("~/Content/img/kunder/05.png")" alt="Alt text" /></a>
            </figure>
            <figure>
                <figcaption>
                    <strong>Kundnamn</strong> <span>Trolol lol hej jag heter Niklas.</span>
                </figcaption>
                <a href="#" class="thumb">
                    <img src="@Url.Content("~/Content/img/kunder/05.png")" alt="Alt text" /></a>
            </figure>
            <figure>
                <figcaption>
                    <strong>Kundnamn</strong> <span>Trolol lol hej jag heter Niklas.</span>
                </figcaption>
                <a href="#" class="thumb">
                    <img src="@Url.Content("~/Content/img/kunder/05.png")" alt="Alt text" /></a>
            </figure>
            <figure>
                <figcaption>
                    <strong>Kundnamn</strong> <span>Trolol lol hej jag heter Niklas.</span>
                </figcaption>
                <a href="#" class="thumb">
                    <img src="@Url.Content("~/Content/img/kunder/05.png")" alt="Alt text" /></a>
            </figure>
            <figure class="last">
                <figcaption>
                    <strong>Pellentesque habitant</strong> <span>Pellentesque habitant morbi tristiquem
                        tortor quam</span> <em>December 08, 2011</em>
                </figcaption>
                <a href="#" class="thumb">
                    <img src="@Url.Content("~/Content/img/kunder/02.png")" alt="Alt text" /></a>
            </figure>
        </div>
    </div>


<div class="wrapper clearfix">
    <h2 class="home-block-heading" id="customers"">

        <span>NYHETER</span></h2>
        <div id="one-third">
        <div id="headline">
        <em id="corner"></em>
        <script type="text/javascript" src="@Url.Content("~/Content/js/form-validation.js")"></script>
       <script type="text/javascript" src="@Url.Content("~/Content/js/subscriber.js")"></script>
        <div id="contactForm">
         @using (Html.BeginForm()){
             <div id="subscribe">
                <h2>
                    Nyhetsbrev</h2>
                <p>
                    Premunemera gärna på mitt nyhetsbrev för nya fräscha nyheter</p>
            
                <fieldset>
                    <legend>.</legend>
                    <div>
                        @Html.EditorFor(s => s.Subscriber.Name, new {id="name", type="text", @class="form-poshytip", title="Enter your full name" })                
                        <label>Namn</label>
                    </div>
                    <div>
                        @Html.EditorFor(s => s.Subscriber.Email, new{id="email", type="text", @class="form-poshytip", title="Enter your email address"})
                        <label>Email</label>
                    </div>
                    <div>
                        @Html.EditorFor(s => s.Subscriber.City, new {id="web", type="text", @class="form-poshytip"})
                        <label>Stad</label>
                    </div>
                    <div>
                        <input type="submit" value ="Prenumerera" id="submit"/>
                    </div>
                    <div><a class="subscribe-link">Avregistrera</a></div>
                    <span id="error" class="warning"></span>
                </fieldset>
              </div>
             <div id="unsubscribe">
                @Html.Partial("_Unsubscribe")
             </div>
        }
        </div>
        
    </div>
</div>
    <div class="newsDiv">
        @Html.Partial("_news", Model.Post)
    </div>
</div>
