@model Mission.Domain.Entities.AboutJesper
@{
    ViewBag.Title = "Föreläsningar";
}
<div>
    <h2 id="" class="home-block-heading">
        <span>Vårt löfte till dig</span>
    </h2>
    @MvcHtmlString.Create(@Model.Promise)
    @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
    {
        <br />
        @Html.ActionLink("Editera \"Vårt löfte till dig\"", "EditPromise", "Home", null, new { @class="submit-style"})
    }
</div>
<div class="leftcol">
    <h2 id="" class="home-block-heading">
        <span>Information</span>
    </h2>
    
    @MvcHtmlString.Create(@Model.Information)
    @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
    {
        <br />
        @Html.ActionLink("Editera \"Information\"", "EditInformation", "Home", null, new { @class = "submit-style" })
    }
</div>
<div class="rightcol">
    <h2 id="" class="home-block-heading">
        <span>Utbildningar</span>
    </h2>
    @MvcHtmlString.Create(@Model.Educations)
     @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
     {
        <br />
        @Html.ActionLink("Editera \"Utbildningar\"", "EditEducations", "Home", null, new { @class="submit-style"})
     }
</div>
