@using Mission.Domain.Entities
@model Mission.WebUI.ViewModels.BlogViewModel
@using PagedList
@using PagedList.Mvc
@{
    
    List<Comment> orderedComments = Model.Blogcomments.BlogComment.OrderByDescending(c => c.Date).ToList(); 
}

<div id="posts-list" class="post-lists-blogg">
    <h2 class="page-heading"><span>@Model.Blogcomments.Posts.FirstOrDefault().Date.ToString("MMMM")  (@Model.Blogcomments.Posts.FirstOrDefault().Date.Year)</span></h2>
    @Html.Partial("_Arkiv", Model.Arkivmodel)

@foreach (var post in Model.Blogcomments.Posts)
{
    <article class="format-standard">
	<div class="entry-date">
        <div class="number">@post.Date.Day</div>
        <div class="year">@post.Date.ToString("MMM"),@post.Date.Year</div>
    </div>
	<h2  class="post-heading">@post.Title</h2>
	<div class="excerpt">@MvcHtmlString.Create(@post.Body)</div>
		@*<a href="single.html" class="read-more">continue &#8594;</a>*@
		@Html.Partial("_PostMeta", post)
        <div class="BlogComments">
        <div class="createcommenttext"><a>Skriv egen kommentar</a></div>
        <div class ="createcomments">@Html.Partial("_CreateComment", new Comment { PostID = post.ID }) </div>
        <div id="comments-wrap">@Html.DisplayFor(m => orderedComments)</div>
    </div>
</article>
}
<div id="selectPage">
        @Html.PagedListPager((IPagedList)Model.Blogcomments.Posts, page => Url.Action("Arkiv", new { month = Model.Blogcomments.Posts.FirstOrDefault().Date.ToString("MMMM"), year = Model.Blogcomments.Posts.FirstOrDefault().Date.Year, page }))
    </div>
</div>