@using Mission.Domain.Entities
@model Post

@{
    ViewBag.Title = "CreatePost";
}

    <link href="@Url.Content("~/Content/Kendo/styles/kendo.common.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Kendo/styles/kendo.default.min.css")" rel="stylesheet">

    <script src="@Url.Content("~/Content/Kendo/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/Kendo/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Content/Kendo/examples/content/shared/js/console.js")"></script>   




<h2>Skapa Post</h2>

@using (Html.BeginForm()){

    <div class="CreatePost">
        <p>
            Titel     <br />
           @Html.EditorFor(p => p.Title, new {  cols = "30", style = "width:100%", height = "100%" })
           
        </p>
       <!-- <p>
            Body <br />
            @Html.EditorFor(p => p.Body)
        </p>-->

  

   @Html.TextAreaFor(p => p.Body, new { id = "editor", rows="10", cols="30", style="width:100%", height = "100%"})
  

    <script>
        $("#editor").kendoEditor({
            tools: [
                "bold",
                "italic",
                "underline",
                "strikethrough",
                "fontName",
                "fontSize",
                "foreColor",
                "backColor",
                "justifyLeft",
                "justifyCenter",
                "justifyRight",
                "justifyFull",
                "insertUnorderedList",
                "insertOrderedList",
                "indent",
                "outdent",
                "formatBlock",
                "createLink",
                "unlink",
                "insertImage",
                "subscript",
                "superscript"
            ]
        });
    </script>



        <p>         
           @Html.RadioButtonFor(p => p.Type, 1) Blog
           @Html.RadioButtonFor(p => p.Type, 0) News          
        </p>

    </div>
    <div>
        <input type="submit" value ="Skapa post"/>
    </div>


}