@using Mission.Domain.Entities
@model Post
<script type="text/javascript" src="@Url.Content("~/Content/tinymce/jscripts/tiny_mce/tiny_mce.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/LoadTinymce.js")"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<div id="posts-list">
    <h2 class="page-heading">
        <span>SKAPA POST</span></h2>
    @using (Html.BeginForm())
    {

    
        <div class="CreatePost">
            <p>
                Titel
                <br />
                @Html.EditorFor(p => p.Title, new { cols = "30", style = "width:100%", height = "100%" })
            </p>
            @Html.TextAreaFor(p => p.Body, new { id = "elm1", name = "elm1", rows = "10", cols = "30", style = "width:100%", height = "100%" })
            <p>
                @Html.RadioButtonFor(p => p.Type, 1) Blog
                @Html.RadioButtonFor(p => p.Type, 0) News
            </p>
        </div>
        <div>
            <input type="submit" value="Skapa post" />
        </div>


    }</div>
