@model IPagedList<Mission.Domain.Entities.Post>
@{
    ViewBag.Title = "Nyheter";
}
@using PagedList
@using PagedList.Mvc
<div id="posts-list">
    @foreach (var news in Model)
    {
        var link = "";
        if (news.Type == 0)
        {
            link = "Index";
        }
        else { link = "blog"; };

        string title = news.Title.Replace(" ", "_");
        
        <article class="format-standard" id="@title">
            <div class="entry-date">
                <div class="number">@news.Date.Day</div>
                <div class="year">@news.Date.ToString("MMM"),@news.Date.Year</div>
            </div>
            <h2 class="post-heading">
                @news.Title</h2>
            <div class="excerpt">@MvcHtmlString.Create(@news.Body)</div>
            <div class="meta">
                <div class="categories">@news.Date.ToString("HH:mm:ss")</div>
                @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                {
                    <div class="edit">
                        <i class="icon-pencil"></i><a href="#">@Html.ActionLink("Ändra", "Edit", "Post", new { id = news.ID }, null)</a></div>
                    <div class="delete">
                        <i class="icon-trash"></i><a href="#">@Html.ActionLink("Ta bort", "Delete", "Post", new { id = news.ID }, null)</a></div>
                }
            </div>
        </article>
    }
    <div id="selectPage">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
    </div>
</div>
