<!DOCTYPE html>
<html>
@using Mission.WebUI.ViewModels
<head>
    <title>@ViewBag.Title</title>
    <!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/style.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/PagedList.css")" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
    <!-- FONTELLO -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/fontello.css")" />
    <!-- JS -->
    <script src="@Url.Content("~/Content/js/jquery-1.6.4.min.js")"></script>
    <script src="@Url.Content("~/Content/js/css3-mediaqueries.js")"></script>
    <script src="@Url.Content("~/Content/js/custom.js")"></script>
    <script src="@Url.Content("~/Content/js/tabs.js")"></script>
    <script src="@Url.Content("~/Content/js/comments.js")"></script>
    <!-- Tweet -->
    <link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'
        type='text/css'>
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.tweet.css")" media="all"  />
    <script src="@Url.Content("~/Content/js/tweet/jquery.tweet.js")" ></script>
    <!-- ENDS Tweet -->
    <!-- superfish -->
    <link rel="stylesheet" media="screen" href="@Url.Content("~/Content/css/superfish.css")" />
    <script  src="@Url.Content("~/Content/js/superfish-1.4.8/js/hoverIntent.js")"></script>
    <script  src="@Url.Content("~/Content/js/superfish-1.4.8/js/superfish.js")"></script>
    <script  src="@Url.Content("~/Content/js/superfish-1.4.8/js/supersubs.js")"></script>
    <!-- ENDS superfish -->
    <!-- prettyPhoto -->
    <script  src="@Url.Content("~/Content/js/prettyPhoto/js/jquery.prettyPhoto.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/Content/js/prettyPhoto/css/prettyPhoto.css")"  media="screen" />
    <!-- ENDS prettyPhoto -->
    <!-- poshytip -->
    <link rel="stylesheet" href="@Url.Content("~/Content/js/poshytip-1.1/src/tip-twitter/tip-twitter.css")"  />
    <link rel="stylesheet" href="@Url.Content("~/Content/js/poshytip-1.1/src/tip-yellowsimple/tip-yellowsimple.css")"  />
    <script  src="@Url.Content("~/Content/js/poshytip-1.1/src/jquery.poshytip.min.js")"></script>
    <!-- ENDS poshytip -->
    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet'
        type='text/css'>
    <!-- Flex Slider -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/flexslider.css")" >
    <script src="@Url.Content("~/Content/js/jquery.flexslider-min.js")"></script>
    <!-- ENDS Flex Slider -->
    <!-- Less framework -->
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/lessframework.css")"/>
    <!-- modernizr -->
    <script src="@Url.Content("~/Content/js/modernizr.js")"></script>
    <!-- SKIN -->
    <link rel="stylesheet" media="all" href="@Url.Content("~/Content/css/skin.css")"/>
    <!--Google Analyticsstuff-->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35864443-1']);
        _gaq.push(['_setDomainName', 'none']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);
        pageTracker._setDomainName("none");
        pageTracker._setAllowLinker("true");

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <header class="clearfix">
        <div class="wrapper">
            <div class="jlogo">
            </div>
            <div id="searchdiv">@Html.Partial("_SearchResult")</div>
            <div id="admin">
                <ul>
                    @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                    {   <li>@Html.ActionLink("Årsstatistik", "YearsStatistics", "Event")</li>
                        <li>@Html.ActionLink("Skapa ny post", "CreatePost", "Post")</li>
                        <li>@Html.ActionLink("Skapa nytt event", "CreateEvent", "Event")</li>
                        <li>@Html.ActionLink("Översikt", "Overview", "Event")</li>
                    }
                    @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAuthorizedCompany(this.Context) && !Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                    { 
                        <li>@Html.ActionLink("Mina event", "EventForCompany", "Event", new { name = this.Context.User.Identity.Name.ToLower().ToString() }, null)</li>
                    }
                </ul>
            </div>
            <nav id="meny">
                <ul id="nav" class="sf-menu">
                    <li>@Html.ActionLink("Start", "index", "Home")</li>
                    <li>@Html.ActionLink("Jesper Caron", "JesperCaron", "Home")</li>
                    <li>@Html.ActionLink("Utgångspunkt", "StartingPoint", "Home")</li>
                    <li>@Html.ActionLink("Föreläsningar", "Lectures", "Home")</li>
                    <li>@Html.ActionLink("In Action", "Index", "Post")</li>
                    <li>@Html.ActionLink("Blogg", "Blog", "Post")</li>
                    <li>@Html.ActionLink("On tour", "OpenEvents", "Event")</li>
                </ul>
            </nav>
            <div id="combo-holder">
            </div>
        </div>
    </header>
    <div id="main">
        <div class="wrapper clearfix">
            @RenderBody()
        </div>
    </div>
    <div id="footer">
        <div class="wrapper clearfix" id="columnWrapper">
            <div id="login-form">
                @Html.Partial("_LogOn", new LogOnModel())
                @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                { 
                    @Html.Partial("_ChangePassword", new ChangePassword())
                }
            </div>
            <div class="block contactInfo">
                <h3>
                    Adress</h3>
                <ul class="address-block">
                    <li class="address">&nbsp Actionplant</li>
                    <li>&nbsp Fabriksgatan 10</li>
                    <li>&nbsp 503 38 BORÅS </li>
                    <br />
                    <li class="phone">&nbsp Mobil | 0731 - 80 01 11</li>
                    <li>&nbsp Kontor | 733 - 41 04 30</li><br />
                    <li class="email">&nbsp office@jespercaron.se</li>
                </ul>
                <div id="presskit">
                    <a href="../Home/PressKit/">
                        <img src="@Url.Content("~/Content/img/filmRoll2.png")"/>
                        <span id="presskit_text">Presskit</span> </a>
                </div>
            </div>
            <div id="footerActionplant">
                <h3>
                    Actionplant
                    <img alt="Actionplant" width="40px" height="40px" src="@Url.Content("~/Content/img/actionplant_mini_green.png")" /></h3>
                <p>
                    Arbetslös? Då kan du få tre månader GRATIS professionell jobbcoaching! I Actionplant
                    blir du coachad av professionella coacher.<br />
                </p>
            </div>
        </div>
    </div>
</body>
</html>
