<h2>Alla poster med typen News</h2>

@foreach(var news in Model) { 
    <div class="NewsDiv">
        <div class = "NewsTitle">
            <p>@news.Title</p>
        </div>
        <div class ="NewsBody">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(@news.Body)) 
        </div>
        <div class = "NewsPostinfo">
            Post created: @news.Date 
        </div>      
        <div class="Edit">
            @Html.ActionLink("Ändra", "Edit", "Post", new { id = news.ID }, null)
            @Html.ActionLink("Ta bort", "Delete", "Post", new { id = news.ID }, null)
        </div>
    </div>
}