<div id="posts-list" class="post-list-partial">
    @{var n = 1;}
    @foreach (var news in Model)
    {        
        var link = "";
            if(news.Type == 0){
                link = "Index";            
            }else{ link = "blog";};        
        <article class="format-standard" id="@news.ID">
            <div class="entry-date">
                <div class="number">@news.Date.Day</div>
                <div class="year">@news.Date.ToString("MMM"),@news.Date.Year</div>
            </div>
            <h2 class="post-heading post-h2">
                   <a href="Post/@link#@news.ID">@news.Title</a>
                </h2>
            <div class="excerpt" id="news-@n">@MvcHtmlString.Create(@news.Body)</div>
            @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                {
                    <div class="meta">
                        <div class="categories">
                            <i class="icon-pencil"></i>
                            @news.Date.ToString("HH:mm:ss")</div>
                
                
                        <div class="comments">
                            <i class="icon-pencil"></i>
                            <a href="#">@Html.ActionLink("Ändra", "Edit", "Post", new { id = news.ID }, null)</a>
                        </div>
                        <div class="user">
                            <i class="icon-trash"></i>
                            <a href="#">@Html.ActionLink("Ta bort", "Delete", "Post", new { id = news.ID }, null)</a>
                        </div>
                
                    </div>
                }
        </article>
                n = n + 1;
    }
</div>
