@{
    ViewBag.Title = "CreateAnswer";
}
@using Mission.WebUI.ViewModels
@model vm_AnswerEventQuestion


@using (Html.BeginForm()) { 
    <p>
        Namn <br /> 
        @Html.EditorFor(a => a.Username)
    </p>
    <p>
        @Html.RadioButtonFor(a => a.Gender, 0)Man
        @Html.RadioButtonFor(a => a.Gender, 1)Kvinna
    </p>
    <p>
        Ålder<br />
        @Html.EditorFor(a => a.Age)
    </p>       
    <p>
        Epost<br />
        @Html.EditorFor(a => a.Email)<br />
        Stad<br />
        @Html.EditorFor(a => a.City)
    </p>
    <div class="selectList">       
        @Html.DisplayFor(a => a.Questions)       
        @Html.HiddenFor(a => a.EventQuestionIDs)
        Svar:<br />
        @Html.EditorFor(a => a.StringAnswers)
    </div>
    <div class="wordcount">
        ord:<br />
        @Html.EditorFor(a => a.Words)
    </div> 
    <div>
        <input type="submit" value ="Spara"/>
    </div>
    
}