
@using Mission.WebUI.ViewModels
@model vm_EventQuestion
@{
    var EventID = Model.Event.ID;
    var Question = "";
}
<div>
    <h2>@Model.Event.HeadLine</h2>
    <div class="eventQuestion">
        <p>@MvcHtmlString.Create(@Model.Event.Description)</p> 
    </div>
    <div>
        @foreach (var eq in Model.EventQuestions)
        { 
        <div class="eventQuestions">
           <p>@eq.Question</p>
        </div>       
        }
    </div>
</div>
@using (Html.BeginForm("CreateEventQuestion", "Event"))
{ 
    <div class="CreatePost">
        Ny fråga
        <br />
        @Html.TextAreaFor(p => Question, new { id = "editor", style = "width:100%", height = "100%" })
        @Html.HiddenFor(p => EventID)
    
    </div>
    <div>
        <input type="submit" value="Skapa eventfråga" />
    </div>
}