@{
    ViewBag.Title = "CreateAnswer";
}
@using Mission.WebUI.ViewModels
@model vm_AnswerEventQuestion


@using (Html.BeginForm()) { 
    <p>
        Namn <br /> 
        @Html.EditorFor(a => a.Username)
    </p>
    <p>
        @Html.RadioButtonFor(a => a.Gender, 0)Man
        @Html.RadioButtonFor(a => a.Gender, 1)Kvinna
    </p>
    <p>
        Ålder<br />
        @Html.EditorFor(a => a.Age)
    </p>
   
    @Html.EditorFor(a => a.Answers)
    
    <div>
        <input type="submit" value ="Spara"/>
    </div>
    
}