@using Mission.Domain.Entities
@model List<Event>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach(var events in Model) { 
    <div class="EventDiv">
        <div class = "EventTitle">
            <p>@events.HeadLine</p>
        </div>
        <div class ="EventDescription">
             @MvcHtmlString.Create(events.Description)
        </div>
        <div class = "EventInfo">
            @events.Date
            @events.City
        </div>      
        <div class="Edit">
             @Html.ActionLink("Ändra", "Edit", "Event", new { id = events.ID }, null)
             @Html.ActionLink("Ta bort", "Delete", "Event", new { id = events.ID }, null)
        </div>
    </div>
}