@using Mission.Domain.Entities
@model IPagedList<Event>
@using PagedList
@using PagedList.Mvc
<div id="posts-list">
    <h2 class="page-heading">
        <span>Event</span></h2>
    @foreach (var events in Model)
    { 
    
        <article class="format-standard">
            <div class="entry-date">
                <div class="number">@events.Date.Day</div>
                <div class="year">@events.Date.ToString("MMM"),@events.Date.Year</div>
            </div>
            <h2 class="post-heading">
                <a href="Event/SingleEvent/@events.ID">@events.HeadLine</a></h2>
            <div class="excerpt">@MvcHtmlString.Create(@events.Description)</div>
            <div class="meta">
                <div class="categories">@events.City</div>
                @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                {

                    
                    <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Ändra", "Edit", "Event", new { id = events.ID }, null)</a></div>
					<div class="delete">
                    <i class="icon-trash"></i><a>@Html.ActionLink("Ta bort", "Delete", "Event", new { id = events.ID }, null)</a></div>
                    <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Skapa eventfråga", "CreateEventQuestion", "Event", new { id = events.ID }, null)</a></div>
                    <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Skapa svar", "CreateAnswer", "Event", new { id = events.ID }, null)</a></div>
                    <div class="edit">
                    <i class=""></i><a>@Html.ActionLink("Statistik", "EventStatistics", "Event", new { id = events.ID }, null)</a></div>
                    
                }
            </div>
        </article>
    }
    <div id="selectPage">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("OpenEvents", new { page }))
    </div>
</div>
