@using Mission.Domain.Entities
@model List<Event>

<div class = "statisticsTable">
    <table>
        <tr>
            <th>
                Eventtitel
            </th>
            <th>
                Admin
            </th>
        </tr>
        @foreach (var events in Model)
        { 
            <tr>
                <td>
                    @Html.ActionLink(events.HeadLine, "SingleEvent", "Event", new { id = events.ID}, null)
                </td>
                <td>
                    @Html.ActionLink("Statistik", "EventStatistics", "Event", new { id = events.ID }, null)
                    @Html.ActionLink("Skapa eventfråga", "CreateEventQuestion", "Event", new { id = events.ID}, null)
                    @Html.ActionLink("Skapa svar", "CreateAnswer", "Event", new { id = events.ID }, null)
                    @Html.ActionLink("Ändra", "Edit", "Event", new { id = events.ID }, null)
                    @Html.ActionLink("Ta bort", "Delete", "Event", new { id = events.ID }, null)
                </td>
            </tr>
        }
    </table>
</div>
