@model Mission.Domain.Entities.Event
 @{
    ViewBag.Title = Model.HeadLine;
}

<div id="posts-list">
    <h2 class="page-heading">
        <span>Event</span></h2>
    <article class="format-standard">
        <div class="entry-date">
            <div class="number">@Model.Date.Day</div>
            <div class="year">@Model.Date.ToString("MMM"),@Model.Date.Year</div>
        </div>
        <h2 class="post-heading">@Model.HeadLine</h2>
        <div class="excerpt">@MvcHtmlString.Create(@Model.Description)</div>
        <div class="meta">
            <div class="categories">@Model.City</div>
            @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
            {
                <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Ändra", "Edit", "Event", new { id = Model.ID }, null)</a></div>
                <div class="delete">
                    <i class="icon-trash"></i><a>@Html.ActionLink("Ta bort", "Delete", "Event", new { id = Model.ID }, null)</a></div>
                <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Skapa eventfråga", "CreateEventQuestion", "Event", new { id = Model.ID }, null)</a></div>
                <div class="edit">
                    <i class="icon-pencil"></i><a>@Html.ActionLink("Skapa svar", "CreateAnswer", "Event", new { id = Model.ID }, null)</a></div>
                <div class="edit">
                    <i class=""></i><a>@Html.ActionLink("Statistik", "EventStatistics", "Event", new { id = Model.ID }, null)</a></div>	
            }
        </div>
    </article>
</div>
