@model Mission.Domain.Entities.Event

<div id="posts-list">
    <h2 class="page-heading">
        <span>Event</span></h2>
        <article class="format-standard">
			<div class="entry-date"><div class="number">@Model.Date.Day</div><div class="year">@Model.Date.ToString("MMM"),@Model.Date.Year</div></div>
			<h2  class="post-heading"><a href="single.html">@Model.HeadLine</a></h2>
			<div class="excerpt">@MvcHtmlString.Create(@Model.Description)</div>
			<div class="meta">
				<div class="categories">@Model.City</div>
                @if (Mission.WebUI.Infrastructure.AuthorizeHelper.IsAdmin(this.Context))
                {
					<div class="comments"><a href="#">@Html.ActionLink("Ändra", "Edit", "Event", new { id = Model.ID }, null)</a></div>
					<div class="user"><a href="#">@Html.ActionLink("Ta bort", "Delete", "Event", new { id = Model.ID }, null)</a></div>
                    <div class=""><a>@Html.ActionLink("Skapa eventfråga", "CreateEventQuestion", "Event", new { id = Model.ID}, null)</a></div>
                    <div class=""><a>@Html.ActionLink("CreateAnswer", "CreateAnswer", "Event", new { id = Model.ID }, null)</a></div>
                    <div class=""><a>@Html.ActionLink("statistik", "Modeltatistics", "Event", new { id = Model.ID }, null)</a></div>
                }
            </div>
		</article>
    </div>
</div> 